h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.post {
  display: flex;
  flex-direction: column;
  padding: .5em;
  margin: .5em;
  border: solid black;
  border-radius: 3px;
}

.profileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorMessage {
  color: red;
}

.inactive {
  color: red;
}

.welcome {
  display: flex;
  justify-content: center;
}

.profileHeader {
  display: flex;
  align-items: center;
}

.logoutButton {
  height: fit-content;
  margin-left: 1em;
}

.myPostsHeader {
  display: flex;
  align-items: center;
}

.newPostButton {
  height: fit-content;
  margin-left: 1em;
}

.newPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

